* {
    margin: 0px;
}

:root {
    --card-border-col: blueviolet;
    --card-border-hover-col: rgb(112, 6, 212);
    --card-bg-col: rgb(247, 206, 247);
    --card-bg-hover-col: rgb(248, 159, 248);
    --card-indent: 16px;
    width: 100vw;
}

body {
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 50vh 40vh;
    justify-content: center;
    align-content: start;
}

.card-input {
    background-color: burlywood;
    grid-area: 2 / 2 / 3 / 3;
    border-radius: 10px;
    display: grid;
    grid-auto-rows: min-content;
}

fieldset {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.task-bin {
    grid-area: 1 / 1 / 4 / 4;
}

.task {
    background-color: var(--card-bg-col);
    /* border-style: solid; */
    /* border-color: var(--card-border-col); */
    border-radius: 10px;
    /* border-width: 2px; */
}

.card-title-div {
    background-color: var(--card-border-col);
}

.card-title-container {
    grid-area: 1 / 1 / 2 / 2;
    display: grid;
    grid-template-columns: min-content min-content auto;
}

.card-title {
    grid-area: 1 / 3 / 2 / 4;
}

.progress-completed + .card-title {
    text-decoration-line: line-through;
}

.edit-task-img {
    display: none;
    fill: var(--card-bg-hover-col);
    width: 32px;
    height: 32px;
    grid-area: 1 / 2 / 3 / 3;
    justify-self: end;
    align-self: center;
}

.priority-img, .progress-img {
    fill: var(--card-bg-hover-col);
    width: 24px;
    height: 24px;
}

.progress-img {
    fill: var(--card-bg-hover-col);
}

.priority-low {
    fill: green;
}

.priority-mid {
    fill: orange;
}

.priority-high {
    fill: red;
}

.task-bin:not(.freeze)  .card-header-div:hover > .edit-task-img,
.task.selected > .card-header-div > .edit-task-img {
    display: grid;
}

.input-buttons {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: min-content;
    justify-content: end;
}

.confirm-edit-img {
    fill: var(--card-border-col);
    width: 32px;
    height: 32px;
}

.card-header-div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    justify-items: start;
    align-items: center;
    background-color: var(--card-border-col);
    border-radius: 10px 10px 10px 10px;
}

.card-due {
    grid-area: 2 / 1 / 3 / 3;
}

.card-spacer {
    height: 4px;
    /* background-color: var(--border-col); */
}

.task-bin:not(.freeze) .card-header-div:hover, 
.task.selected > .card-header-div  {
    background-color: var(--card-border-hover-col);
}

.task.collapsed > .card-content,
.subtasks.collapsed {
    display: none;
}

.card-label {
    position: relative;
    background-color: var(--card-bg-col);
    width: min-content;
    height: min-content;
    top: -20px;
    grid-area: 1 / 1 / 2 / 2;
}

.card-container {
    outline-style: solid;
    outline-width: 1px;;
    margin: 10px;
    padding: 10px;
    display: grid;
    grid-template-rows: 0px auto;
}

.info-subcontainer {
    display: grid;
    gap: 64px;
    grid-template-columns: 1fr 1fr;
}

.card-content {
    /* position: relative;
    top: -10px; */
    /* grid-area: 1 / 1 / 2 / 2; */
}

.menu {
    overflow: hidden;
}

.menu-rect {
    fill: var(--card-bg-col);
}

.menu-border {
    fill: var(--card-border-col);
}

.menu-text {
    fill: black;
}

.menu-highlight {
    fill: var(--card-bg-hover-col);
}